<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "About";
}
<div class="mainContent container">
    <h2><span class="glyphicon glyphicon-info-sign bigIcon"></span>ООО "Домашний текстиль"</h2>
    <p>
        ООО  «Домашний текстиль»  предлагает нашим клиентам широкий выбор текстильных изделий : махровые полотенца,
        постельное  белье, халаты,  оптом и в розницу.    Наше предприятие является прямым импортером высококачественных махровых изделий.
        Это позволяет нам  предлагать свою продукцию по оптимальным ценам для покупателей.
    </p>
    <p>
        В  ассортименте представлен широкий выбор махровых изделий : жаккардовые,
        велюровые, гладкокрашеные изделия, полотенца из бамбука и хлопка. Товар представлен в большом количестве дизайнов и расцветок, в наличии и под заказ.
    </p>

    <p>
        Находясь в постоянном контакте с нашими зарубежными партнерами, по Вашему индивидуальному заказу в максимально короткий период времени мы изготовим
        махровые изделия, полотенца для отелей и гостиниц с размещением логотипа.  А также постельное белье из сатина и бязи в необходимом количестве.
        Проведем  «под ключ» полную комплектацию объектов туристического бизнеса : гостиниц, санаториев и отелей.
        В наличии : одеяла, подушки и наматрацники.
    </p>
    <p>
        Обратившись к нам однажды, Вы станете надолго  нашим  постоянным клиентом и партнером.
        Вы обязательно убедитесь в правильности сделанного выбора.
    </p>
    ООО «Домашний текстиль» - это:
    <p>
        <ol style="list-style-type:circle" >
            <li>широкий выбор высококачественной продукции;</li>
            <li>индивидуальный подход к каждому клиенту;</li>
            <li>возможность купить нашу продукцию оптом и в розницу в любом регионе страны;</li>
            <li>Мы организуем доставку товара по Вашему заказу в самые короткие сроки;</li>
            <li>При покупке продукции , представленной в нашем каталоге , мы при необходимости  готовы проконсультировать любого из наших  клиентов по всем интересующим вопросам;</li>
        </ol>
    </p>
    Обращайтесь в ООО «Домашний текстиль» - мы гарантируем высокие качество товара и культуру сервиса !

</div>