<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
@{
    ViewBag.Title = "About";
}
<div class="mainContent container">
    <h2><span class="glyphicon  glyphicon-phone-alt bigIcon"></span>Контакты</h2>
    <p> Наш офис находится по адресу : ул. Сормовская 7, Краснодар, РФ</p>
    <p>Вы всегда можете связаться с нами по номеру : 
        <ul style="list-style-type:circle">
            <li>+7 (928) 427-52-40</li>
            <li>+7 (918) 931-65-50</li>
        </ul>
    </p>
    <p>
        Либо с помощью электронной почты :
        <ul style="list-style-type:circle">
            <li>orders@domashtextil.ru (для заказов)</li>
            <li>company@domashtextil.ru (по общим вопросам)</li>
        </ul>
    </p>

</div>