<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () {
            changePicture();
        }, 7000);
    });

    var currentPicture = 1;
    var changePicture = function () {
        $("#image").fadeToggle("slow");
        setTimeout(function () {
            $("#image").attr("src", "/Images/Gallery/" + currentPicture + ".jpg");

        }, 600);
        $("#image").fadeToggle("slow");

        currentPicture++;
        currentPicture %= 3;
        currentPicture++;
    
    };

</script>
<div class="col-md-8 col-lg-offset-1 " style="width : 800px; height:500px;" >
    <img class="img-rounded center-block"style= "height : 100%; width : 100%;" id="image" src="/Images/Gallery/1.jpg" />
</div>
