@model Dictionary<string, List<string>>
@*@section AddToHead{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
     }*@
    <h2>Категории</h2>

    @foreach (KeyValuePair<string, List<string>> pair in Model)
    {
        <ul class="nav nav-pills" style="width:100%;">
            <li class="dropdown" style="width:100%;">
                <a class="dropdown-toggle btn btn-default" style="width:100%;" data-toggle="dropdown" href="#">
                    @pair.Key<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (string sec in pair.Value)
                    {
                        <li >@Html.ActionLink(sec, "Catalog", "Home", new { category = sec }, new { @class = "btn btn-default" })</li>
                    }
                </ul>
            </li>
        </ul>

    }