@model IEnumerable<DomTextil.Domain.Entities.NewThings>
@using DomTextil.Domain.Entities;
@{
    ViewBag.Title = "News";
}
<div class="container mainContent" >
    <h2>Новинки</h2>
    <h3 style="color:red">Приносим наши извинения, данный ресурс находится в стадии разработки :(</h3>

    <img src="~/Images/DeploymentTime/Deployment.jpg" style="margin-left:30%; height:70%;" />

    @*@foreach (NewThings discount in Model)
    {
        <div style="width:100%; max-height:400px; overflow:hidden;">
            <h3 style="margin-left:20px;">@discount.Title</h3>
            <p style="max-height:50%; width:60%; word-wrap:break-word; display:inline;">
                <img src="@discount.Photo" style="float:left; margin:7px 7px 7px 7px; width:20%; height:20%;" />
                @discount.Description
            </p>
                        @Html.ActionLink("Подробнее", "ConcreteNews", "Home", new { newsId = discount.ID }, null);

        </div>

        <hr style="height:5px; color:blue; border:none; background-color:#64adeb;" />
    }*@

</div>
