@model DomTextil.Domain.Entities.Product

<div>
    <h4 style="height:10%;">@Model.Name</h4>

    <div style="max-width:250px; overflow:hidden;" >
        <img src="@Model.MainPhoto" style="max-height:200px; height:100%;"  />
    </div>
    <p style="width:80%; height:20%;">@Model.Description</p>
</div>