@{
    Layout = null;
}
<h2>Панель управления сайтом "домаштекстиль.рф"</h2>
<ol title="Действия, доступные в текущей версии сайта(последнее обновление 14.06.16)">
    <li>@Html.ActionLink("Управление товарами","Products", "Admin")</li>
    <li>@Html.ActionLink("Управление разделом \"новости\"","News","Admin")</li>
</ol>
